@import url("./fonts.css");

:root {
    --neon-color: hsl(317, 100%, 54%);
    --bg-color: hsl(321, 21%, 16%);
}

* {
    font-family: coolvetica;
    color: var(--neon-color);
}

h1 {
    filter: url(#myFilter);
}

h2 {
    font-size: 3rem;
}

.glowy-text {
    text-shadow: 0 0 0.125em var(--bg-color), 0 0 0.6em var(--neon-color);
}

.bg-img > * {
    padding-left: 3rem;
    background-color: rgba(255,255,255, 0.75);
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: var(--bg-color);
    margin-left: 0;
    margin-right: 0;
}

header {
    font-size: calc(25vh - 6rem);

    padding-left: 2rem;

    height: calc(25vh - 4rem);
    width: 100%;
}

nav {
    margin: 0;
    padding: 0;

    width: 100%;

    display: flex;
    align-items: center;
    gap: 0;
}

nav > .active-nav-btn {
    border-bottom: none;
}

nav > button:first-of-type {
    padding-left: 10vw;
}

nav > button:last-of-type {
    text-align: left;
    border-right: none;
    width: 100%;
}

nav > button {
    font-size: 1.25rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--neon-color);
    border: var(--neon-color) 0.125em solid;
    border-left: none;
    padding: 0.25em 1em;
    /* border-radius: 0.25em; */

    text-shadow: 0 0 0.125em var(--bg-color), 0 0 0.6em var(--neon-color);

    box-shadow: inset 0 0 0.5em 0 var(--neon-color),
        0 0 0.5em 0 var(--neon-color);

    position: relative;

    background: var(--bg-color);

    transition: all 100ms linear;
}

nav > butt-on::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--neon-color);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

nav > button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--neon-color);
    opacity: 0;
    background-color: var(--neon-color);
    z-index: -1;
}

nav > button:hover,
nav > button:active {
    color: var(--bg-color);
    background-color: var(--neon-color);
    text-shadow: none;
}

nav > button:hover::before,
nav > button:active::before {
    opacity: 1;
}
nav > button:hover::after,
nav > button:active::after {
    opacity: 1;
}

.sticky {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + main {
    padding-top: 60px;
}

main {
    min-height: 100%;
    width: 100%;
}

.container {
    padding: 1em 0px;
}

.bg-img {
    min-height: 20rem;
    background-size: cover;
    background-position: center;
}

text {
    font-size: 8rem;
    position: relative;
    bottom: 0;
    left: 1rem;
    transform: translate(2rem, 7rem);
}

#tvBarOverlay {
    animation: 10s tvBarAnimation infinite forwards;
}

@keyframes tvBarAnimation {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% -100%;
    }
}
