body {
    min-height: 100vh;
}

nav {
    height: 10vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

nav > button {
    border: none;
}

main {
    height: 90vh;
}